body {
  background-color: #f1f3ed;
  margin: 0;
  color: #333333;
}

h1, h2  {
  margin: 0;
  font-family: 'Kirang Haerang', sans-serif;
  font-size: 3rem;

}

h3, p {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  
}

/* ---- Navigation ---- */

nav {
  /* background-color: #C8A2C8; */
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
 
}

.nav-icon-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.icon-stroke-fill {
  width: 24px;
  height: 24px;
  fill: rgba(51, 51, 51, 0); 
  transition: fill 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: block;
  shape-rendering: geometricPrecision;
}

.icon-stroke-fill:hover {
  fill: rgba(51, 51, 51, 1);
}

@media (min-width: 768px) {
  img.burger-menu {
    display: none;
}
}
@media (max-width: 768px) {
.desktop img.icon-cart,
.desktop img.icon-wish,
.desktop img.icon-account  ,
.desktop img.icon-search {
    display: none;
}

.nav-right.nav-icon-wrap.desktop {
  display: none;
}
}

.shop-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* ---- Product Card ---- */
.product-card {
  background: #ffffff;
  /* border-radius: 1rem; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-card-details {
  padding: 1rem;
}
.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* border-top-left-radius: 1rem; */
  /* border-top-right-radius: 1rem; */
}

.product-heading-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

p.plant-name {
  text-transform: capitalize;
}

.product-stats-wrap {
  position: relative;
}


ul.stats-wrap {
  text-align: left;
  position: absolute;
  background: white;
  padding: 1rem;
  left: -1rem;
  width: calc(100% + 0rem);
}


.product-cta-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card button {
  background: #508650;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

.product-card button:hover {
  background: #3e693e;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

  .filter-container {
    display: none;
}

.controls {
  padding: 2rem 0;
  display: flex;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .shop-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1025px) {
  .shop-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
    main.shop-container {
  display: grid;
  /* grid-template-columns: 1fr 4fr; */
}
  button.filter-mobile {
    display: none;
}

  .filter-container {
    display: block;
    position: relative;
    display: flex;
    grid-gap: 20px;
    padding: 0 20px;
}

}


header.header {
  padding: 20px;
  text-align: center;
}

aside.filter {
  padding: 1rem;
  margin-right: 1rem;
}


.dropdown-menu {
  position: absolute;
  background: white;
  display: flex;
  flex-direction: column;
}






.product-card-details {
  position: relative;

}

.product-stats-wrap {
  position: absolute;
  bottom: 60px;
  left: 2rem;
  width: 210px;
  border-radius: 1rem;
}

button.close-stats {
  max-width: 40px;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
}

ul.stats-wrap {
  background: #c3e0b9;
  margin: 0;
  border-radius: 1rem;
}



.product-cta-wrap {}

.product-card {
  border-radius: 22px;
}

.product-card img {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}


